@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');

:root {
  --color-primary: #d62828;
  --dark-background: #003049;
  --light-background: #e1e5f2;
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.header {
  height: 4rem;
  background-color: var(--dark-background, black);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.header__title {
  font-size: 1.5rem;
}

.editor {
  display: flex;
  justify-content: space-between;
  flex: 1;
  background-color: #e1e5f2;
  padding: 1rem;
}

.editor__title {
  height: 1rem;
  font-size: .7rem;
  margin-bottom: .5rem;
}
.markdown, .preview {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  flex: 1;
  padding: 1rem;
  margin: .2rem;
  border-radius: var(--border-radius, 5px);
}

.markdown__content {
  flex: 1;
  padding: 1rem;
  border: 1px solid var(--dark-background, black);
  border-radius: var(--border-radius, 5px);
}

.markdown__content:focus {
  outline-color: var(--color-primary);
}

.preview__content {
  flex: 1;
  padding: 1rem;
  border: 1px solid var(--dark-background, black);
  border-radius: 5px;
}

.footer {
  text-align: center;
  line-height: 2rem;
  height: 2rem;
  font-size: .7rem;
  background-color: #011627;
  color: #fff;
}

.footer a {
  color: var(--color-primary);
  text-decoration: none;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}

/* Markdown Styles */
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1em;}
h5 {font-size: 0.8em;}
h6 {font-size: 0.7em;}

ol, ul {
  list-style-position: inside;
}
